body {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.paragraph {
    color: mintcream;
    text-transform: uppercase;
    display: flex;
    font-size: 1em;
    letter-spacing: 0.3em;
    text-align: center;
    justify-content: center;
}

.row {
    width: 100%;
    height: 60px;
}

.one, .two, .three, .four, .five {
    margin: 5px 5px 5px 5px;
}

button {
    width: 55px;
    height: 55px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
}

.esc {
    width: 55px;
}

.tab {
    width: 95px;
}

.back {
    width: 95px;
}

.caps {
    width: 120px;
}

.enter {
    width: 100px;
}

.shift {
    width: 145px;
    border-radius: 10px;
}


.pink {
    background-color: crimson;
    border-radius: 10px;
}

.pink.selected {
    border: 2px solid crimson;
    color: crimson;
}


.coral {
    background-color: coral;
    border-radius: 10px;
}

.coral.selected {
    border: 2px solid coral;
    color: coral;
}

.darkorange {
    background-color: darkorange;
    border-radius: 10px;
}

.darkorange.selected {
    border: 2px solid darkorange;
    color: darkorange;
}

.gold {
    background-color: gold;
    border-radius: 10px;
}

.gold.selected {
    border: 2px solid gold;
    color: gold;
}

.khaki {
    background-color: khaki;
    border-radius: 10px;
}

.khaki.selected {
    border: 2px solid khaki;
    color: khaki;
}


@-webkit-keyframes selected {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.selected {
    background-color: black;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}.hit {
     -webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
     animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 }

@-webkit-keyframes hit {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes hit {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}




